/android/
/ios/*
!/ios/.gitignore
!/ios/.xcode.env
!/ios/Podfile
!/ios/Podfile.lock
!/ios/Podfile.properties.json
!/ios/PulseSocNative/
!/ios/PulseSocNative/**
!/ios/PulseSocNative.xcodeproj/
!/ios/PulseSocNative.xcodeproj/project.pbxproj
!/ios/PulseSocNative.xcodeproj/xcshareddata/
!/ios/PulseSocNative.xcodeproj/xcshareddata/**
!/ios/PulseSocNative.xcworkspace/
!/ios/PulseSocNative.xcworkspace/contents.xcworkspacedata
!/ios/PulseSocNativeUITests/
!/ios/PulseSocNativeUITests/**
/ios/Pods/
/ios/build/
/ios/build-*/
/.expo/
